<style>
    div.scroll {
        margin: 4px, 4px;
        padding: 4px;
        width: 75%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    div.scrolly {
        margin:4px, 4px;
        padding:4px;
        width: 75%;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Bienvenido al modelo de Árboles de Desición.</h1>
<p>Los Árboles de Desición (AD) permiten resolver problemas de regresión (pronostico) y clasificación.
</p>
<p>A continuación se mostrará el modelo de AD para el dataset <b>{{file}}</b></p>
<h3>Paso 1: Acceso a los datos.</h3>
<table>
    <thead>
        <tr>
            <th>Columna</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  ad.get_datos.items %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<p>&nbsp</p>
<p>Outcome:</p>
<table>
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Resultados</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  ad.get_datos1.items %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<p>&nbsp</p>
<div class="scroll">
    <table border cellpadding=10 cellspacing=0 width="10%">
        <tr>
            {% for col in ad.get_datos2.columns %}
                <th>
                {{col}}
                </th>
            {% endfor %}
        </tr>
            {% for index, row in ad.get_datos2.iterrows %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
</div>
<h3>Paso 2: Selección de características.</h3>
<img src="data:image/png;base64, {{ad.get_selCar}}", alt="", height="600", width="900">
<a download="ad_seleccion_caracteristicas.png" href="data:image/png;base64, {{ad.get_selCar}}" title="Selección de características">
    <button class="btn btn-primary">Descargar imagen</button>
</a>
<h3>Paso 3: Definición de las variables predictoras y variable clase.</h3>
<p>Variables preditorias:</p>
<div class="scrolly">
    <table border cellpadding=10 cellspacing=0 width="10%">
        <tr>
            {% for col in ad.get_varPred.columns %}
                <th>
                {{col}}
                </th>
            {% endfor %}
        </tr>
            {% for index, row in ad.get_varPred.iterrows %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
</div>
<p>&nbsp</p>
<p>Variables clase:</p>
<div class="scrolly">
    <table border cellpadding=10 cellspacing=0 width="10%">
        <tr>
            <th>
                Etiquetado
            </th>
        </tr>
            {% for index, row in ad.get_varClas.iterrows %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
</div>
<h3>Pasaremos a la creación del modelo, en este caso será el modelo AD.</h3>
{{ad.get_xTrain}}
<p>&nbsp</p>
{{ad.get_xVal}}
<h3>Modelo Árboles de Desiciones.</h3>
<p>Clasificación AD.</p>
{{ad.get_clasif}}
<p>Clasificación final.</p>
{{ad.get_yclasif}}
<p>&nbsp</p>
<div class="scrolly">
    <table border cellpadding=10 cellspacing=0 width="10%">
        <thead>
            <tr>
                <th>
                    Predicción
                </th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in ad.get_valM.iterrows %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p>&nbsp</p>
{{ad.get_resultado}}
<h3>Matriz de Clasificación.</h3>
<table border cellpadding=10 cellspacing=0 width="10%">
    <tbody>
{% for index, item in  ad.get_mClasif.items %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<p>&nbsp</p>
<p>Criterio:</p>
{{ad.get_criterio}}
<p>&nbsp</p>
<p>Importancia variables:</p>
{{ad.get_impVar}}
<p>&nbsp</p>
<p>Exactitud:</p>
{{ad.get_exactitud}}
<p>&nbsp</p>
{{ad.get_reporte}}
<h3>Eficiencia y conformación del modelo de clasificación.</h3>
<table border cellpadding=10 cellspacing=0 width="10%">
    <tr>
        {% for col in ad.get_impMod.columns %}
            <th>
            {{col}}
            </th>
        {% endfor %}
    </tr>
        {% for index, row in ad.get_impMod.iterrows %}
            <tr>
            {% for cell in row %}
                <td>
                {{cell}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
<p>&nbsp</p>
<img src="data:image/png;base64, {{ad.get_arbol}}", alt="", height="600", width="900">
<a download="ad_arbol_generado.png" href="data:image/png;base64, {{ad.get_arbol}}" title="Arbol de decisión">
    <button class="btn btn-primary">Descargar imagen</button>
</a>
<p>&nbsp</p>

{% endblock content %}
