<style>
    div.scroll {
        margin: 4px, 4px;
        padding: 4px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    div.scrolly {
        margin:4px, 4px;
        padding:4px;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Bienvenido al modelo de Clustering Particional.</h1>
<p>El Clustering Particional o el algoritmo particional, organiza los elementos dentro de k clústeres. Además, el algoritmo K-means es uno de los algoritmos utilizados en la industria para crear k clústers a partir de un conjunto de elementos, de tal manera que los elementos de un grupo sean similares.
</p>
<p>A continuación se mostrará el modelo de Clustering Particional para el dataset <b>{{file}}</b></p>
<h3>Paso 1: Acceso a los datos.</h3>
<table class="table">
    <tr>
        <th>#</th>
        <th>Column</th>
        <th>Non-null Count</th>
        <th>Dtype</th>
    </tr>
        {% for row in clustering.get_info%}
            <tr>
            {% for cell in row %}
                <td>
                {{cell}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
{{clustering.get_info.items}}
<p>Se hace la agrupación de los datos a partir de la columna seleccionada:</p>
<table class="table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Resultados</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  clustering.get_datos.items %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{{clustering.get_datos}}
<p>Se elimina de los datos la columna antes agrupada:</p>
<div class="scroll">
<div class="scrolly">
    <table class="table" cellpadding=10 cellspacing=0 >
        <tr>
            {% for col in clustering.get_nuvDatos.columns %}
                <th>
                {{col}}
                </th>
            {% endfor %}
        </tr>
            {% for index, row in clustering.get_nuvDatos.iterrows %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
</div>
</div>
<h3>Paso 2: Selección de características.</h3>
<p>A continuación, se mostrará la matriz de correlaciones. A partir de esta se podra analizar la relación entre las variables numéricas.</p>
<img src="data:image/png;base64, {{clustering.get_mCorr}}", alt="", height="500", width="700">
<a download="ad_seleccion_caracteristicas.png" href="data:image/png;base64, {{clustering.get_mCorr}}" title="Selección de características">
    <button class="btn btn-primary">Descargar imagen</button>
</a>
<h3>Paso 3: Creación del modelo.</h3>
<p>Se calculan la media y la desviación, y se escalan los datos.</p>
<div class="scroll">
<div class="scrolly">
    <table class="table" cellpadding=10 cellspacing=0 >
        <tr>
            {% for col in clustering.get_mStand.columns %}
                <th>
                {{col}}
                </th>
            {% endfor %}
        </tr>
            {% for index, row in clustering.get_mStand.iterrows %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
</div>
</div>
<p>Se crea la grafica SSE´, de esta manera se podra ver el número de cl codo que servira para conocer el número de clústers.</p>
<img src="data:image/png;base64, {{clustering.get_sse}}", alt="", height="500", width="700">
<a download="clustering_sse.png" href="data:image/png;base64, {{clustering.get_sse}}" title="SSE">
    <button class="btn btn-primary">Descargar imagen</button>
</a>
<p>A partir de la grafcia anterior es posibe observar que el número de clústers que se tendrán son:</p>
{{clustering.get_numK}}
<p>Pasamos a crear las etiquetas de los elementos de los clusters:</p>
{{clustering.get_mPart}}
<p>Se puede ver de mejor manera añadiendo una columna a los datos donde se pueda observar el cluster al que pertenecen:</p>
<div class="scroll">
<div class="scrolly">
    <table class="table" cellpadding=10 cellspacing=0 >
        <tr>
            {% for col in clustering.get_clustP.columns %}
                <th>
                {{col}}
                </th>
            {% endfor %}
        </tr>
            {% for index, row in clustering.get_clustP.iterrows %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
</div>
</div>
<p>Se puede apreciar mejor la cantidad de elementos en cada grupo en la siguiente lista:</p>
<table class="table">
    <thead>
        <tr>
            <th>Cluster</th>
            <th>Elementos</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  clustering.get_numElem.items %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<p>Teniendo ya los clústers, se pueden obtener sus respectivos centroides. Estos se pueden observar a continuación.</p>
<div class="scroll">
    <table class="table" cellpadding=10 cellspacing=0 >
        <tr>
            {% for col in clustering.get_centros.columns %}
                <th>
                {{col}}
                </th>
            {% endfor %}
        </tr>
            {% for index, row in clustering.get_centros.iterrows %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
</div>
<p>A continuación, se mostrará una grafica 3D donde se pueden observar como se encuentran repartidos los clústers y sus centros.</p>
<img src="data:image/png;base64, {{clustering.get_clusters}}", alt="", height="500", width="700">
<a download="clustering_centroide.png" href="data:image/png;base64, {{clustering.get_clusters}}" title="SSE">
    <button class="btn btn-primary">Descargar imagen</button>
</a>
{% if clustering.is_new_registro %}
<hr>
<h3>Predicción con datos ingresados por el usuario</h3>
<h5>Con los datos:</h5>
<table class="table">
    <tr>
        {% for col in clustering.get_columnas %}
            <td>
            {{col}}
            </td>
        {% endfor %}
    </tr>
        {% for index, row in clustering.get_new_data.iterrows %}
            <tr>
            {% for cell in row %}
                <td>
                    {{cell}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
<h5>Obtenemos la clase</h5>
<p><b>{{clustering.predict_new.0}}</b></p>
{% endif %}
<form mehtod="post" action="{% url 'knowledgeminer:clustering' %}">
<h3>Desea agregar un nuevo registro?</h3>
<select id="nuevo_registro" name="nuevo_registro" onchange="setNewRegistro()">
    <option value="0" selected>No</option>
    <option value="1">Sí</option>
</select>
<div id="new_registry" style="display:none">
    <h5>Ingrese datos para tratar de calcular la etiqueta del registro</h5>
    {% for col in clustering.get_columnas %}
        <label for="{{col}}">{{col}}</label><input type="number" step="0.00001" id="{{col}}" name="{{col}}">
    {% endfor %}
</div>
<br>
<button type="submit" class="btn btn-primary">Obtener</button>
</form>
{% endblock content %}