{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="padding-top:15%">
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                <p>"Field Error:"{{field.name}} {{field.errors}}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}