<style>
    div.scroll {
        margin: 4px, 4px;
        padding: 4px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    div.scrolly {
                margin:4px, 4px;
                padding:4px;
                height: 700px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
    }
    table {
        border-collapse: separate; 
        border-spacing: 5px;
    }
</style>

{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Bienvenido al proceso de Analisis Exploratorio de Datos</h1>
<p>El Análisis Exploratorio de Datos  (EDA por sus siglas en ingles) es un proceso que nos permite conocer el estado de los datos que vamos a analizar.
    Este es un proceso preliminar en cualquier proyecto de minería de datos.
</p>
<p>A continuación se mostrará el proceso de EDA para el dataset <b>{{file}}</b></p>
<h3>Paso 1: Descripción de la estructura de los datos</h3>
<p>1.- Forma (dimensiones) del DataFrame</p>
{{eda.get_forma}}
<p>2.- tipos de datos</p>
<table class="table">
    <thead>
        <tr>
            <th>Columna</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  eda.get_tipo_dato.items %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<h3>Paso 2: Identificación de datos faltantes</h3>
<p>Enumeración de datos nulos por columna</p>
<table class="table">
    <thead>
        <tr>
            <th>Columna</th>
            <th>Nulos</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  eda.get_nulos.items %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<br>
<p>Información general del dataset.</p>
<table class="table">
    <tr>
        <th>#</th>
        <th>Column</th>
        <th>Non-null Count</th>
        <th>Dtype</th>
    </tr>
        {% for row in eda.get_info%}
            <tr>
            {% for cell in row %}
                <td>
                {{cell}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
<h3>Paso 3: Detección de valores atípicos</h3>
<p>1.- Distribución de variables numéricas</p>
<img src="data:image/png;base64, {{eda.get_distribucion}}", alt="", height="800", width="800">
<p>2) Resumen estadístico de variables numéricas</p>
<div class="scroll">
<table class="table">
    <tr>
        <td><b>Valor estadístico</b></td>
        {% for col in eda.get_resumen.columns %}
            <td>
            {{col}}
            </td>
        {% endfor %}
    </tr>
        {% for index, row in eda.get_resumen.iterrows %}
            <tr>
                <td><b>{{index}}</b></td>
            {% for cell in row %}
                <td>
                    {{cell}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
</div>
<br>
<p>3) Diagramas para detectar posibles valores atípicos</p>
<div class = "scrolly">
    {% for graph in eda.get_diagramas_atipicos %}
        <img src="data:image/png;base64, {{graph}}", alt="", height="600", width="600">
        <br>
    {% endfor %}
</div>
<br>
{% if  eda.get_categoricas != 0%}
    <p>4) Distribución de variables categóricas</p>
    <p>Tabla de distribución</p>
    {% if  eda.get_categoricas != 0%}
        <table class="table">
            <tr>
                <td><b>Valor estadístico</b></td>
                {% for col in eda.get_categoricas_df.columns %}
                    <td>
                    {{col}}
                    </td>
                {% endfor %}
            </tr>
                {% for index, row in eda.get_categoricas_df.iterrows %}
                    <tr>
                        <td><b>{{index}}</b></td>
                    {% for cell in row %}
                        <td>
                            {{cell}}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <p>Su dataset no cuenta con varaibles categóricas</p>
    {% endif %}
    <br>
    <p>Gráficas de distribución.</p>
    <p>Para evitar gráficas con demasiados datos se mostrarán únicamente las columnas con 10 o menos tipos de categorías</p>
    {% if eda.get_categoricas > 0 %}
        <div class = "scrolly">
            {% for graph in eda.get_categoricas %}
                <img src="data:image/png;base64, {{graph}}", alt="", height="600", width="600">
                <br>
            {% endfor %}
        </div>
    {% else %}
        {% if eda.get_categoricas == -1 or eda.get_categprocas == 0 %}
            <p>Sus variables categóricas cuentan con demasiados valores únicos, por lo cual las gráficas no son visibles</p>
        {% endif %}
    {% endif %}
    <p>5) Agrupación por variables categóricas</p>
    <div class="scroll">
        {% for dataframe in eda.get_agrupacion%}
        <table class="table">
            <tr>
                <td><b>Valor estadístico</b></td>
                {% for col in dataframe.columns %}
                    <td>{{col.0}} <b>{{col.1}}</b></td>
                {% endfor %}
            </tr>
                {% for index, row in dataframe.iterrows %}
                    <tr>
                        <td><b>{{index}}</b></td>
                    {% for cell in row %}
                        <td>
                            {{cell}}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
        </table>
        <br>
        <br>
        {% endfor %}
    </div>
{% endif %}
<h3>Paso 4: Identificación de relaciones entre pares variables</h3>
<p>Tabla de correlación de valores</p>
<div class="scroll">
<table class="table">
    <tr>
        <td><b>Valor estadístico</b></td>
        {% for col in eda.get_corr.columns %}
            <td>
            {{col}}
            </td>
        {% endfor %}
    </tr>
        {% for index, row in eda.get_corr.iterrows %}
            <tr>
                <td><b>{{index}}</b></td>
            {% for cell in row %}
                <td>
                    {{cell}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
</div>
<p>Gráfica de correlación de valores</p>
<img src="data:image/png;base64, {{eda.get_corr_graph}}", alt="", height="600", width="800">
<p>Gráfica de correlación de valores inferior</p>
<img src="data:image/png;base64, {{eda.get_corr_inf}}", alt="", height="600", width="800">
{% endblock content %}