{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Bienvenido {{username}}</h1>
    <form action="seleccion/" method="post">
        {% csrf_token %}
        {% if files|length > 0 %}
            <h3>Sus archivos son los siguientes:</h3>
            <select name="archivos" id="archivos" onchange="defaultSelected()">
                <option name="none" selected="selected">Seleccione archivo</option>
                {% for i in files %}
                    <option value="{{i.name}}">{{i.name}}</option>
                {% endfor %}
                <option value="default">default</option>
            </select>
            <br>
            <br>
            <select name="archivos_default" id="archivos_default" style="display: none">
                <option name="none" selected="selected">Seleccione archivo precargado</option>
                <option value="diabetes.csv">diabetes</option>
                <option value="songs.csv">songs</option>
                <option value="survey lung cancer.csv">surve long cancer</option>
            </select>
        {% else %}
            <h3>No cuenta con archivos guardados en el sistema</h3>
            <select name="usuario_default" id="usuario_default">
                <option name="none" selected="selected">Seleccione archivo precargado</option>
                <option value="diabetes.csv">diabetes</option>
                <option value="songs.csv">songs</option>
                <option value="survey lung cancer.csv">surve long cancer</option>
            </select>
        {% endif %}
        <br>
        <h3>Los algoritmos cargados son los siguientes:</h3>
        <select name="algoritmo" id="algoritmo" onchange="selectedAlgorithm()">
            <option name="none" selected="selected">Seleccione algoritmo</option>
            <option value="eda">Análisis exploratorio de Datos</option>
            <option value="pca">Análisis de Componentes Principales</option>
            <option value="ad">Árboles de decisión</option>
            <option value="ba">Bosques Aleatorios</option>
            <option value="cab">Comparación entre árbol y bosque</option>
            <option value="clustering">Clustering</option>
        </select>
        <br>
        <br>
        <div id="dependiente" style="display: none;">
            <h3>Elija su variable dependiente para realizar el análisis</h3>
        </div>
        {% for i in files %}
            <div id="{{i.name}}" style="display: none;">
                <p>Columnas del archivo {{i.name}}</p>
                <select name="{{i.name}}">
                    {% for x in i.get_columns %}
                        <option value={{x}}>{{x}}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <br>
    <h5>Si desea guardar un nuevo archivo favor de acceder al siguiente link</h5>
    <a href="{% url 'knowledgeminer:input' %}">Ingresar nuevo dataset</a>
{% endblock content %}
