<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Report App | {% block title %} {% endblock title %}</title>
        <script src="{% static 'js/user.js' %}"></script>
         <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    </head>
<body>
<h1>Bienvenido al modelo de Árboles de Desición.</h1>
<p>Los Árboles de Desición (AD) permiten resolver problemas de regresión (pronostico) y clasificación.
</p>
<p>A continuación se mostrará el modelo de AD para el dataset <b>{{file}}</b></p>
<h3>Paso 1: Acceso a los datos.</h3>
<table style="width: 100%;">
    <thead>
        <tr>
            <th>Columna</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  ad.get_datos.items  %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table style="width: 100%;">
<p>&nbsp</p>
<p>Outcome:</p>
<table style="width: 100%;">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Resultados</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  ad.get_datos1.items  %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table style="width: 100%;">
<p>&nbsp</p>
<div class="scroll">
    <table style="width: 100%;" border cellpadding=10 cellspacing=0 >
        <tr>
            {% for col in ad.get_datos2.columns %}
                <th>
                {{col}}
                </th>
            {% endfor %}
        </tr>
            {% for index, row in ad.get_datos2.iterrows  %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell|floatformat:4}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table style="width: 100%;">
</div>
<h3>Paso 2: Selección de características.</h3>
<img src="data:image/png;base64, {{ad.get_selCar}}", alt="", height="600", width="900">
<h3>Paso 3: Definición de las variables predictoras y variable clase.</h3>
<p>Variables predictorias:</p>
<div class="scrolly">
    <table style="width: 100%;" border cellpadding=10 cellspacing=0 >
        <tr>
            {% for col in ad.get_varPred.columns %}
                <th>
                {{col}}
                </th>
            {% endfor %}
        </tr>
            {% for index, row in ad.get_varPred.iterrows  %}
            {% if forloop.counter < 10 %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell|floatformat:4}}
                    </td>
                {% endfor %}
                </tr>
            {% endif %}
            {% endfor %}
    </table style="width: 100%;">
</div>
<p>&nbsp</p>
<p>Variables clase:</p>
<div class="scrolly">
    <table style="width: 100%;" border cellpadding=10 cellspacing=0 >
        <tr>
            <th>
                Etiquetado
            </th>
        </tr>
            {% for index, row in ad.get_varClas.iterrows  %}
            {% if forloop.counter < 10 %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell|floatformat:4}}
                    </td>
                {% endfor %}
                </tr>
            {% endif %}
            {% endfor %}
    </table style="width: 100%;">
</div>
<h3>Pasaremos a la creación del modelo, en este caso será el modelo AD.</h3>
{{ad.get_xTrain}}
<p>&nbsp</p>
{{ad.get_xVal}}
<h3>Modelo Árboles de Desiciones.</h3>
<p>Clasificación AD.</p>
{{ad.get_clasif}}
<p>Clasificación final.</p>
{{ad.get_yclasif}}
<p>&nbsp</p>
<div class="scrolly">
    <table style="width: 100%;" border cellpadding=10 cellspacing=0 >
        <thead>
            <tr>
                <th>
                    Predicción
                </th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in ad.get_valM.iterrows  %}
            {% if forloop.counter < 10 %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell|floatformat:4}}
                    </td>
                {% endfor %}
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table style="width: 100%;">
</div>
<p>&nbsp</p>
{{ad.get_resultado}}
<h3>Matriz de Clasificación.</h3>
<table style="width: 100%;" border cellpadding=10 cellspacing=0 >
    <tbody>
{% for index, item in  ad.get_mClasif.items  %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table style="width: 100%;">
<p>&nbsp</p>
<p>Criterio:</p>
{{ad.get_criterio}}
<p>&nbsp</p>
<p>Importancia variables:</p>
{{ad.get_impVar}}
<p>&nbsp</p>
<p>Exactitud:</p>
{{ad.get_exactitud}}
<p>&nbsp</p>
{{ad.get_reporte}}
<h3>Eficiencia y conformación del modelo de clasificación.</h3>
<table style="width: 100%;" border cellpadding=10 cellspacing=0 >
    <tr>
        {% for col in ad.get_impMod.columns %}
            <th>
            {{col}}
            </th>
        {% endfor %}
    </tr>
        {% for index, row in ad.get_impMod.iterrows  %}
        {% if forloop.counter < 10 %}
            <tr>
            {% for cell in row %}
                <td>
                {{cell|floatformat:4}}
                </td>
            {% endfor %}
            </tr>
        {% endif %}
        {% endfor %}
</table style="width: 100%;">
<p>&nbsp</p>
<img src="data:image/png;base64, {{ad.get_arbol}}", alt="", height="600", width="900">
<p>&nbsp</p>
</body>
</html>
