<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Report App | {% block title %} {% endblock title %}</title>
        <script src="{% static 'js/user.js' %}"></script>
         <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    </head>
<body>
<h1>Bienvenido al proceso de Analisis Exploratorio de Datos</h1>
<p>El Análisis Exploratorio de Datos  (EDA por sus siglas en ingles) es un proceso que nos permite conocer el estado de los datos que vamos a analizar.
    Este es un proceso preliminar en cualquier proyecto de minería de datos.
</p>
<p>A continuación se mostrará el proceso de EDA para el dataset <b>{{file}}</b></p>
<h3>Paso 1: Descripción de la estructura de los datos</h3>
<p>1.- Forma (dimensiones) del DataFrame</p>
{{eda.get_forma}}
<p>2.- tipos de datos</p>
<table class="table">
    <thead>
        <tr>
            <th>Columna</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  eda.get_tipo_dato.items %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<h3>Paso 2: Identificación de datos faltantes</h3>
<p>Enumeración de datos nulos por columna</p>
<table class="table">
    <thead>
        <tr>
            <th>Columna</th>
            <th>Nulos</th>
        </tr>
    </thead>
    <tbody>
{% for index, item in  eda.get_nulos.items %}
        <tr>
            <td>{{index}}</td>
            <td>{{item}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<br>
<p>Información general del dataset.</p>
<table class="table">
    <tr>
        <th>#</th>
        <th>Column</th>
        <th>Non-null Count</th>
        <th>Dtype</th>
    </tr>
        {% for row in eda.get_info%}
            <tr>
            {% for cell in row %}
                <td>
                {{cell}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
<h3>Paso 3: Detección de valores atípicos</h3>
<p>1.- Distribución de variables numéricas</p>
<img src="data:image/png;base64, {{eda.get_distribucion}}", alt="", height="800", width="800">
<br>
<p>2) Resumen estadístico de variables numéricas</p>
<div class="scroll">
<table class="table">
    <tr>
        <td><b>Valor estadístico</b></td>
        {% for col in eda.get_resumen.columns %}
            <td>
            {{col}}
            </td>
        {% endfor %}
    </tr>
        {% for index, row in eda.get_resumen.iterrows %}
            <tr>
                <td><b>{{index}}</b></td>
            {% for cell in row %}
                <td>
                    {{cell}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
</div>
<br>
<p>3) Diagramas para detectar posibles valores atípicos</p>
<div class = "scrolly">
    {% for graph in eda.get_diagramas_atipicos %}
        <img src="data:image/png;base64, {{graph}}", alt="", height="600", width="600">
        <br>
    {% endfor %}
</div>
<br>
{% if  eda.get_categoricas != 0%}
    <p>4) Distribución de variables categóricas</p>
    <p>Tabla de distribución</p>
    {% if  eda.get_categoricas != 0%}
        <table class="table">
            <tr>
                <td><b>Valor estadístico</b></td>
                {% for col in eda.get_categoricas_df.columns %}
                    <td>
                    {{col}}
                    </td>
                {% endfor %}
            </tr>
                {% for index, row in eda.get_categoricas_df.iterrows %}
                    <tr>
                        <td><b>{{index}}</b></td>
                    {% for cell in row %}
                        <td>
                            {{cell}}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <p>Su dataset no cuenta con varaibles categóricas</p>
    {% endif %}
    <br>
    <p>Gráficas de distribución.</p>
    <p>Para evitar gráficas con demasiados datos se mostrarán únicamente las columnas con 10 o menos tipos de categorías</p>
    {% if eda.get_categoricas > 0 %}
        <div class = "scrolly">
            {% for graph in eda.get_categoricas %}
                <img src="data:image/png;base64, {{graph}}", alt="", height="600", width="600">
                <br>
            {% endfor %}
        </div>
    {% else %}
        {% if eda.get_categoricas == -1 or eda.get_categprocas == 0 %}
            <p>Sus variables categóricas cuentan con demasiados valores únicos, por lo cual las gráficas no son visibles</p>
        {% endif %}
    {% endif %}
    <p>5) Agrupación por variables categóricas</p>
    <div class="scroll">
        {% for dataframe in eda.get_agrupacion%}
        <table class="table">
            <tr>
                <td><b>Valor estadístico</b></td>
                {% for col in dataframe.columns %}
                    <td>{{col.0}} <b>{{col.1}}</b></td>
                {% endfor %}
            </tr>
                {% for index, row in dataframe.iterrows %}
                    <tr>
                        <td><b>{{index}}</b></td>
                    {% for cell in row %}
                        <td>
                            {{cell}}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
        </table>
        <br>
        <br>
        {% endfor %}
    </div>
{% endif %}
<h3>Paso 4: Identificación de relaciones entre pares variables</h3>
<p>Tabla de correlación de valores</p>
<div class="scroll">
<table class="table">
    <tr>
        <td><b>Valor estadístico</b></td>
        {% for col in eda.get_corr.columns %}
            <td>
            {{col}}
            </td>
        {% endfor %}
    </tr>
        {% for index, row in eda.get_corr.iterrows %}
            <tr>
                <td><b>{{index}}</b></td>
            {% for cell in row %}
                <td>
                    {{cell}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
</div>
<p>Gráfica de correlación de valores</p>
<img src="data:image/png;base64, {{eda.get_corr_graph}}", alt="", height="600", width="800">
<br>
<p>Gráfica de correlación de valores inferior</p>
<img src="data:image/png;base64, {{eda.get_corr_inf}}", alt="", height="600", width="800">
<br>
</body>
</html>
