<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Report App | {% block title %} {% endblock title %}</title>
        <script src="{% static 'js/user.js' %}"></script>
         <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    </head>
<body>
<h1>Bienvenido al proceso de Análisis de Componentes Principales</h1>
<p>El Análisis de Componentes Principales (PCA por sus siglas en ingles) es un algoritmo para reducir la cantidad de variables de conjuntos, mientras se conserva la mayor cantidad de información posible.
</p>
<p>A continuación se mostrará el proceso de PCA para el dataset <b>{{file}}</b></p>
<h3>Paso 1: Evidencia de variables posiblemente correlacionadas.</h3>
<img src="data:image/png;base64, {{pca.get_correlacion}}", alt="", height="600", width="900">
<h3>Paso 2: Se hace una estandarización de los datos.</h3>
<center>
<div class="scroll">
    <div class="scrolly">
        <table border cellpadding=10 cellspacing=0 width="100%" class="table">
            <tr>
                {% for col in pca.get_estandarizacion.columns %}
                    <th>
                    {{col}}
                    </th>
                {% endfor %}
            </tr>
                {% for index, row in pca.get_estandarizacion.iterrows %}
                {% if forloop.counter < 10 %}
                    <tr>
                    {% for cell in row %}
                        <td>
                        {{cell|floatformat:4}}
                        </td>
                    {% endfor %}
                    </tr>
                {% endif %}
                {% endfor %}
        </table>
    </div>
</div>
</center>
<h3>Pasos 3 y 4: Se calcula la matriz de covarianzas o correlaciones, y se calculan los componentes (eigen-vectores) y la varianza (eigen-valores).</h3>
<center>
    <div class="scroll">
        <table class="table">
            <tbody>
                {% for i in pca.get_matriz %}
                    <tr>
                        {% for j in i %}
                            <td>{{j|floatformat:4}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</center>
<h3>Paso 5: Se decide el número de componentes principales.</h3>
<p>Proporción de varianza:</p>
<ul>
    {% for i in pca.get_proporcion %}
        <li>{{i|floatformat:4}}</li>
    {% endfor %}
</ul>
<p>Varianza acumulada:</p>
{{pca.get_acumulada}}
<h3>Paso 6: Se examina la proporción de relevancias –cargas–.</h3>
<p>Cargas componentes:</p>
<center>
<div class="scroll">
    <table id="cargas" border cellpadding=10 cellspacing=0 width="100%" class="table">
        <tr>
            {% for col in pca.get_cargasCom.columns %}
                <th>
                {{col}}
                </th>
            {% endfor %}
        </tr>
            {% for index, row in pca.get_cargasCom.iterrows %}
                <tr>
                {% for cell in row %}
                    <td>
                    {{cell|floatformat:4}}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
</div>
</center>
</body>
</html>
